.message-container{
    width: 400px;
    height: 600px;
}

.message-thread-decorator {
    transition: 0.3s;
    cursor: pointer;
}

.message-thread-decorator:hover {
    margin: 10px;
}

.message-list-box{
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.thread-user-profile{
    width: 80px;
    height: 80px;
}