.common-container {
    margin: auto;
    padding: 15px;
    width: 50%;
}

.table-wrapper {
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

textarea {
    resize: none !important;
}

.appointment-list-search {
    width: 50%;
    margin: auto;
}

.appointment-list-search-form {
    display: flex;
}

@media (max-width: 1300px) {
    .common-container {
        width: 70%;
    }
}

@media (max-width: 1000px) {

    .appointment-list-search {
        width: 100%;
    }
    

    .common-container {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .radio-section {
        margin-left: 10px;
    }
}

@media (max-width: 500px) {
    .appointment-row-options {
        display: flex;
        flex-direction: column;
    }

    .button-section{
        display: grid;
        gap: 0.5rem;
    }

    .button-section button {
        margin: 0 !important;
    }

    .appointment-list-search-form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .appointment-list-search-form .search-btn {
        margin-right: 0 !important;
    }
}