.confirm-reservation-container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

@media (max-width: 1200px) {
    .confirm-reservation-container {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .confirm-reservation-container {
        width: 100%;
    }
}

@media (max-width: 700px) {

}

@media (max-width: 600px) {

}