.table-wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.reservation-list-search {
    width: 50%;
    margin: auto;
}

.reservation-list-search-form{
    display: flex;
}

@media (max-width: 1200px) {

    .reservation-list-search {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .reservation-list-search-form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .reservation-list-search-form .search-btn {
        margin-right: 0 !important;
    }
}