.room-image{
    width: 400px;
    height: 300px;
}

.preview-room-container{
    width: 50%;
}

.create-room-container{
    width: 50%;
}

.edit-room-container {
    width: 50%;
}

.room-form-group{
    width: 50% !important;
}

.room-details-container{
    width: 50%;
}

.room-list-search {
    width: 50%;
    margin: auto;
}

.room-list-search-form {
    display: flex;
}

.room-details-container {
    width: 50%;
    margin: auto;
}

@media (max-width: 1200px) {

    .room-form-group{
        width: 70% !important;
    }
}

@media (max-width: 1000px) {

    .room-list-search {
        width: 100%;
        /* margin: auto; */
    }
}


@media (max-width: 900px) {

    .create-room-container{
        width: 100%;
    }

    .edit-room-container {
        width: 100%;
    }

    .room-details-container {
        width: 100% !important;
    }

    .room-list-table{
        display: block;
        overflow-x: auto;
        /* white-space: nowrap; */
    }

    .room-list-table thead {
        display: table;
        width: 100%;
    }

    .room-list-table tbody {
        display: table;
        width: 100%;
    }

    .room-row-options {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .preview-room-container{
        width: 100%;
    }
}

@media (max-width: 500px) {

    .room-list-search-form {
        display: flex;
        flex-direction: column;
    }

    .room-form-group{
        padding-left: 5px;
        padding-right: 5px;
        width: 100% !important;
    }

    .room-image{
        width: 350px;
    }

    .room-list-search-form {
        display: flex;
        width: 100%;
    }

    .room-list-search-form .search-btn {
        margin-right: 0 !important;
    }
}


