.room-image{
    width: 400px;
    height: 300px;
}

.preview-room-container{
    width: 50%;
}

.create-room-container{
    width: 50%;
}

.edit-room-container {
    width: 50%;
}

.room-form-group{
    width: 50% !important;
}

.room-details-container{
    width: 50%;
}

@media (max-width: 1200px) {

    .room-form-group{
        width: 70% !important;
    }
}

@media (max-width: 900px) {

    .create-room-container{
        width: 100%;
    }

    .edit-room-container {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .preview-room-container{
        width: 100%;
    }
}

@media (max-width: 500px) {

    .room-form-group{
        padding-left: 5px;
        padding-right: 5px;
        width: 100% !important;
    }

    .room-image{
        width: 350px;
    }
}


